<div class="vrt-root" cdkDropListGroup>
  <div class="vrt-column">
    <vrt-items-list
      (onItemSelected)="onItemSelected($event)"
      (onDragNDrop)="onDragNDrop($event)"
      [items]="leftColumnFilteredItems">
        <div class="vrt-sort-filter">
          Sort:
          <div class="vrt-checkbox">
            <input type="checkbox" [checked]="isSortByAsc" (change)="changeSorting()" id="sortCheckbox" />
            <label for="sortCheckbox"></label>
          </div>
        </div>
        <vrt-items-name-filter (onTextFilterChange)="onNameFilterChange($event)"></vrt-items-name-filter>
    </vrt-items-list>
  </div>

  <div class="vrt-column">
    <vrt-item-details [item]="selectedItem"></vrt-item-details>
  </div>

  <div class="vrt-column">
    <vrt-items-list
      (onItemSelected)="onItemSelected($event)"
      (onDragNDrop)="onDragNDrop($event)"
      [items]="rightColumnFilteredItems">
      <vrt-items-flag-filter (onFilterChange)="onFlagFilterChange($event)"></vrt-items-flag-filter>
    </vrt-items-list>
  </div>
</div>
